In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Comments Cleaning

In [ ]:
comments= pd.read_csv("comments.csv")

In [6]:
comments.head()

,id,comment,User id,Photo id,created Timestamp,posted date,emoji used,Hashtags used count
0,1,unde at dolorem,2,1,13-04-2023 08:04,April 14,yes,1
1,2,quae ea ducimus,3,1,13-04-2023 08:04,April 14,no,2
2,3,alias a voluptatum,5,1,13-04-2023 08:04,April 14,no,4
3,4,facere suscipit sunt,14,1,13-04-2023 08:04,April 14,yes,2
4,5,totam eligendi quaerat,17,1,13-04-2023 08:04,April 14,yes,1

In [8]:
comments.drop(['posted date', 'emoji used', 'Hashtags used count'], axis = 1, inplace = True)

In [16]:
#rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at
comments.rename(columns = {'comment': 'comment_text', 'User  id': 'user_id', 'Photo id':'photo_id', 'created Timestamp':'created_at'}, inplace = True )

In [17]:
comments

        id            comment_text  user_id  photo_id        created_at
0        1         unde at dolorem        2         1  13-04-2023 08:04
1        2         quae ea ducimus        3         1  13-04-2023 08:04
2        3      alias a voluptatum        5         1  13-04-2023 08:04
3        4    facere suscipit sunt       14         1  13-04-2023 08:04
4        5  totam eligendi quaerat       17         1  13-04-2023 08:04
...    ...                     ...      ...       ...               ...
7483  7484       accusamus vel est       82       257  13-04-2023 08:04
7484  7485           sit nulla qui       91       257  13-04-2023 08:04
7485  7486        sed quidem vitae       93       257  13-04-2023 08:04
7486  7487   dolorem eveniet rerum       95       257  13-04-2023 08:04
7487  7488  dolores nihil voluptas       96       257  13-04-2023 08:04

[7488 rows x 5 columns]

In [74]:
comments['created_at'] = pd.to_datetime(comments['created_at'])
comments.to_csv("comments.cleaned.csv", index = False, encoding = 'utf-8')

## Follows Cleaning

In [19]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	follower_id
    # 2.	followee_id
    # 3.	created_at

In [20]:
follows = pd.read_csv("follows.csv")

In [22]:
follows.drop(['is follower active', 'followee Acc status'], axis = 1, inplace = True)

In [27]:
follows.rename(columns = {'follower':'follower_id', 'followee ':'followee_id', 'created time':'created_at'}, inplace = True)
follows.head()

   follower_id  followee_id        created_at
0            2            1  13-04-2023 08:04
1            2            3  13-04-2023 08:04
2            2            4  13-04-2023 08:04
3            2            5  13-04-2023 08:04
4            2            6  13-04-2023 08:04

In [25]:
follows.columns

Index(['follower', 'followee ', 'created time'], dtype='object')

In [75]:
follows['created_at'] = pd.to_datetime(follows['created_at'])
follows.to_csv("follows_cleaned.csv", index = False, encoding = 'utf-8')

## Likes Cleaning

In [28]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	user_id
    # 2.	photo_id
    # 3.	created_at

In [29]:
likes = pd.read_csv('likes.csv')

In [31]:
likes.drop(['following or not', 'like type'], axis = 1, inplace = True)
likes.head()

   user   photo      created time
0      2      1  13-04-2023 08:04
1      2      4  13-04-2023 08:04
2      2      8  13-04-2023 08:04
3      2      9  13-04-2023 08:04
4      2     10  13-04-2023 08:04

In [34]:
likes.rename(columns = {'user ':'user_id', 'photo':'photo_id', 'created time':'created_at'}, inplace = True)
likes.head()

   user_id  photo_id        created_at
0        2         1  13-04-2023 08:04
1        2         4  13-04-2023 08:04
2        2         8  13-04-2023 08:04
3        2         9  13-04-2023 08:04
4        2        10  13-04-2023 08:04

In [33]:
likes.columns

Index(['user ', 'photo_id', 'created_at'], dtype='object')

In [77]:
likes['created_at'] = pd.to_datetime(likes['created_at'])
likes.to_csv("likes_cleaned.csv", index = False, encoding = 'utf-8')

## Photos Tag Cleaning

In [ ]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	photo_id
    # 2.	tag_id

In [36]:
photo_tags = pd.read_csv("photo_tags.csv")

In [40]:
photo_tags.drop('user id', axis = 1, inplace = True)

In [43]:
photo_tags.rename(columns = {'photo':'photo_id', 'tag ID':'tag_id'}, inplace = True)

In [44]:
photo_tags.columns

Index(['photo_id', 'tag_id'], dtype='object')

In [78]:
photo_tags.to_csv("photo_tags_cleaned.csv", index = False, encoding = 'utf-8')

## Photos Cleaning

In [45]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	image_url
    # 3.	user_id
    # 4.	created_date

In [46]:
photos = pd.read_csv("photos.csv")

In [49]:
photos.drop(['Insta filter used','photo type'], axis = 1, inplace = True)

In [48]:
photos.columns

Index(['id', 'image link', 'user ID', 'created dat', 'Insta filter used',
       'photo type'],
      dtype='object')

In [52]:
photos.rename(columns = {'image link':'image_url', 'user ID':'user_id', 'created dat':'created_date'}, inplace = True)

In [53]:
photos.head()

   id             image_url  user_id      created_date
0   1     http://elijah.biz        1  13-04-2023 08:04
1   2    https://shanon.org        1  13-04-2023 08:04
2   3      http://vicky.biz        1  13-04-2023 08:04
3   4      http://oleta.net        1  13-04-2023 08:04
4   5  https://jennings.biz        1  13-04-2023 08:04

In [79]:
photos['created_date'] = pd.to_datetime(photos['created_date'])
photos.to_csv("photos_cleaned.csv", index = False, encoding = 'utf-8')

## Tags Cleaning

In [55]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	tag_name
    # 3.	created_at

In [61]:
tags = pd.read_csv("tags.csv")

In [62]:
tags.columns

Index(['id', 'tag text', 'created time', 'location'], dtype='object')

In [63]:
tags.drop('location', axis = 1, inplace = True)
tags.rename(columns = {'tag text':'tag_name', 'created time':'created_at'}, inplace = True)

In [80]:
tags['created_at'] = pd.to_datetime(tags['created_at'])
tags.to_csv("tags_cleaned.csv", index = False, encoding = 'utf-8')

## Users cleaning

In [64]:
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	username
    # 3.	created_at

In [65]:
users = pd.read_csv("users.csv")

In [66]:
users.columns

Index(['id', 'name', 'created time', 'private/public', 'post count',
       'Verified status'],
      dtype='object')

In [67]:
users.drop(['private/public', 'post count', 'Verified status'], axis = 1, inplace = True)
users.rename(columns = {'name':'username', 'created time':'created_at'}, inplace = True)

In [69]:
users.head()

   id       username        created_at
0   1  Kenton_Kirlin  16-02-2017 18:22
1   2  Andre_Purdy85  02-04-2017 17:11
2   3  Harley_Lind18  21-02-2017 11:12
3   4  Arely_Bogan63  13-08-2016 01:28
4   5  Aniya_Hackett  07-12-2016 01:04

In [81]:
users['created_at'] = pd.to_datetime(users['created_at'])
users.to_csv("users_cleaned.csv", index = False, encoding = 'utf-8')